* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.header{
    padding: 10px;
}
#f-size {
    font-size: x-large;
    margin: 20px 0 10px 0;
}

.yellow-button {
    background-color: yellow;
    color: purple;
    border: none;
    padding: 10px;
}

.red-button {
    background-color: red;
    color: white;
    border: none;
    padding: 10px;
}